<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Devart.Data.SQLite" type="Devart.Data.SQLite.Entity.SQLiteEntityProviderServices,        Devart.Data.SQLite.Entity.EF6, Version=5.1.26.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
  <DbProviderFactories>
    <remove invariant="Devart.Data.SQLite" />
    <add name="dotConnect for SQLite" invariant="Devart.Data.SQLite" description="Devart dotConnect for SQLite" type="Devart.Data.SQLite.SQLiteProviderFactory, Devart.Data.SQLite, Version=5.1.26.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
  </DbProviderFactories>
</system.data>
  <connectionStrings>
    <add name="refdblocalConnectionString" connectionString="data source=..\refdblocal.s3db" providerName="System.Data.SQLite" />
    <add name="MySettings.ConnectionString" connectionString="data source=..\refdblocal.s3db" providerName="Devart.Data.SQLite" />
    <add name="PPDMDataManagerAddin.Properties.Settings.ConnectionString" connectionString="Data Source=C:\Users\f_ald\source\repos\fahadTheTechIdea\DataManagment_Engine\reflocaldb.sdf;Max Database Size=4091" providerName="System.Data.SqlServerCe.4.0" />
    <add name="PPDMDataManagerAddin.Properties.Settings.ConnectionString1" connectionString="Data Source=C:\Users\f_ald\source\repos\fahadTheTechIdea\DataManagment_Engine\PPDMDataManagerAddin\refdblocal.s3db" providerName="Devart.Data.SQLite" />
    <add name="SimpleODM.Properties.Settings.ConnectionString" connectionString="Data Source=C:\Users\f_ald\source\repos\fahadTheTechIdea\DataManagment_Engine\reflocaldb.sdf;Max Database Size=4091" providerName="System.Data.SqlServerCe.4.0" />
    <add name="SimpleODM.Properties.Settings.ConnectionString1" connectionString="Data Source=C:\Users\f_ald\source\repos\fahadTheTechIdea\DataManagment_Engine\PPDMDataManagerAddin\refdblocal.s3db" providerName="Devart.Data.SQLite" />
    <add name="SimpleODM.Properties.Settings.ConnectionString2" connectionString="Data Source=C:\Users\f_ald\source\repos\fahadTheTechIdea\DataManagment_Engine\PPDMDataManagerAddin\simpleodmdblite.s3db" providerName="Devart.Data.SQLite" />
  </connectionStrings>
</configuration>