<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FastReport.Compat" version="2020.4.2" targetFramework="net472" />
  <package id="FastReport.OpenSource" version="2021.1.7" targetFramework="net472" />
  <package id="FastReport.ReportBuilder" version="2021.1.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.1.0" targetFramework="net472" />
</packages>